# iCloud inloggegevens
ICLOUD_EMAIL=jouw@appleid.com
ICLOUD_PASSWORD=jouw_wachtwoord

# My Cloud Home instellingen (SMB)
MYCLOUD_HOST=mycloud-9faf74.local
MYCLOUD_SHARE=Public
MYCLOUD_USER= 
MYCLOUD_PASSWORD= 

# Opties
DOWNLOAD_FOLDER=./icloud_download
MYCLOUD_TARGET_FOLDER=/Public/iCloud_Backup
